<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <queries>
        <package android:name="com.google.android.gms" />
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="NutriSnap"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NutriSnap"
        android:usesCleartextTraffic="true">

        <receiver android:name=".utils.NotificationHelper" android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".auth.RegisterActivity" android:exported="false" />
        <activity android:name=".auth.ForgotPasswordActivity" android:exported="false" />
        <activity android:name=".auth.VerifyOtpActivity" android:exported="false" />
        <activity android:name=".auth.ResetPasswordActivity" android:exported="false" />
        <activity android:name=".auth.ChangePasswordActivity" android:exported="false" />
        <activity android:name=".auth.NotificationSuccessActivity" android:exported="false" />
        <activity android:name=".auth.WelcomeActivity" android:exported="false" />
        <activity android:name=".ui.setup.SetupProfileActivity" android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true" />

    </application>

</manifest>